body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

/*code*/
a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

/*code*/
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  /*code*/
  font-size: 32px;
  display: flex;
  align-items: center;
  font-weight: 900;
  padding: 0 16px; 
}

/*code*/
.content {
  display: flex;
}


.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  /*code*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  /*code*/
  flex: none;
  width: 300px;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  /*code*/
  width: 300px;
  padding: 16px;
  margin: 16px;
}

/*code*/
.cardWrapper {
  flex-flow: row wrap;
  padding: 32px;
  gap: 32px;
  border: 1px;
  border-color: #eee;
}